argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
chardet
click
colorama
dataclasses
decorator
defusedxml
entrypoints
filelock
Flask
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
MarkupSafe
mistune
mkl-fft
mkl-random
mkl-service
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile
packaging
pandocfilters
parso
pickleshare
Pillow @ file:///C:/ci/pillow_1603822370986/work
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pywin32
pywinpty
pyzmq
qtconsole
QtPy
regex
requests
sacremoses
Send2Trash
sentencepiece
six @ file:///C:/ci/six_1605187303045/work
terminado
testpath
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
zipp
