{% extends "layout.html" %}
{% block body %}


<!-- carousal starts -->
<br>
<br>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Welcome to iNews</h1>

        <h1>
          <a style="color: black;" class="typewrite" data-period="2000"
            data-type='[ "Sports News", "Tech News", "Political News", "and many more" ]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <!-- <h2 data-aos="fade-up" data-aos-delay="400">We are team of talanted designers making websites with Bootstrap</h2> -->

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="{{ url_for('static', filename='assets/img/news1.png')}}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- crousal ends-->














<!-- Top headlines section starts-->






<div data-aos="fade-up">
  <h2>Top Headlines</h2>
  <center>
    <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
  </center>
</div>
<br>
<div class="card-group">
  {% for i in articles[:4] %}

  <div class="card border border-light">
    <img class="card-img-top rounded" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ i['title'] }}</h5>
      <span><b>Published: </b><i>{{ i['publishedAt'][:10]}}</i></span>
      <p class="card-text">{{ i['description'][:100] }}... </p>

      <!-- <button type="button" class="btn btn-dark btn-lg  btn-block rounded-pill" id="btn-process">Generate</button> -->
      <a href="{{i['url']}}" class="btn btn-primary rounded-pill" id="btn-process">Read more</a>
    </div>
    
  </div>

  {% endfor %}
</div>


<div class="card-group">
  {% for i in articles[4:8] %}

  <div class="card border border-light">

    <img class="card-img-top" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ i['title'] }}</h5>
      <span><b>Published: </b><i>{{ i['publishedAt'][:10]}}</i></span>
      <p class="card-text">{{ i['description'][:100]}}... </p>

      <a href="{{i['url']}}" class="btn btn-primary rounded-pill" id="btn-process">Read more</a>
    </div>
  </div>

  {% endfor %}
</div>


<!-- Top headlines section ends here -->




<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div data-aos="fade-up">
      <h2>News Topics</h2>
      <center>
        <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
      </center>
    </div>
    <br>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/coronavirus-black-48dp.svg">
          <h4 class="title"><a href="">Corona</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/gavel-black-48dp.svg">
          <h4 class="title"><a href="">Politics</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/sports_baseball-24px.svg">
          <h4 class="title"><a href="">Sports</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/live_tv-24px.svg">
          <h4 class="title"><a href="">Entertainment</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

    </div>




    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/biotech-24px.svg">
          <h4 class="title"><a href="/tech">Science & Technology</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/school-24px.svg">
          <h4 class="title"><a href="">Education</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/sports_esports-24px.svg">
          <h4 class="title"><a href="">Gaming</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/public-24px.svg">
          <h4 class="title"><a href="">World</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

    </div>





    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/trending_up-24px.svg">
          <h4 class="title"><a href="">Share Market</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/filter_drama-24px.svg">
          <h4 class="title"><a href="">Wheather</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/timeline-24px.svg">
          <h4 class="title"><a href="">Trending</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <img src="../static/images/icons/rss_feed-24px.svg">
          <h4 class="title"><a href="">iNeuron blogs</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->


<br>
<br>
<hr>

<div class="">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">
      <center>
        <h3>News Titles Generation</h3>
        <p> <b>Model</b>: ProphetNet</p>
      </center>
      <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
      </div>

      <h4> Input Text </h4>
      <textarea class="form-control txt_input"
        id="txt_input">USTC was founded in Beijing by the Chinese Academy of Sciences (CAS) in September 1958. The Director of CAS, Mr. Guo Moruo was appointed the first president of USTC. USTC's founding mission was to develop a high-level science and technology workforce, as deemed critical for development of China's economy, defense, and science and technology education. The establishment was hailed as \"A Major Event in the History of Chinese Education and Science.\" CAS has supported USTC by combining most of its institutes with the departments of the university. USTC is listed in the top 16 national key universities, becoming the youngest national key university.</textarea>
      <h4> Parameters </h4>
      <div class="form-row">
        <div class="form-group col-md-3 ">
          <label for="input_model">Model</label>
          <select id="input_model" class="form-control rounded-pill">
            <option selected>ProphetNet</option>
          </select>
        </div>
        <div class="form-group col-md-3" style="padding-left: 10px;;">
          <label></label>
          <button type="button" class="btn btn-dark btn-lg  btn-block rounded-pill" id="btn-process">Generate</button>
        </div>
      </div>

      <h4> Generated News Title </h4>
      <textarea class="form-control txt_summary" id="input_summary" readonly> </textarea>


    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<script>


  var TxtType = function (el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 1000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
  };

  TxtType.prototype.tick = function () {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function () {
      that.tick();
    }, delta);
  };

  window.onload = function () {
    var elements = document.getElementsByClassName('typewrite');
    for (var i = 0; i < elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-type');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
  };
</script>

{% endblock %}