<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
        rel="stylesheet">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>


<body>
    <nav class="navbar-expand-lg navbar navbar-dark bg-primary" >
        <div class="container-fluid" >
            <a class="navbar-brand" href="#">
                <img src="../static/images/download.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
                iNews
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Contact Us</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>





      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/images/Patel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>India beat australia by 243 runs</h5>
              <p>ndia have rolled up Australia for 65, with only two of their batsmen scoring in double figures. Yadav was the star, knocking over the first five wickets to fall even before he'd finished bowling five overs himself. This would have been the biggest loss for Australia in a One-Day game, if this was an official match.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/Patel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>India beat australia by 243 runs</h5>
              <p>ndia have rolled up Australia for 65, with only two of their batsmen scoring in double figures. Yadav was the star, knocking over the first five wickets to fall even before he'd finished bowling five overs himself. This would have been the biggest loss for Australia in a One-Day game, if this was an official match.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/Patel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>India beat australia by 243 runs</h5>
              <p>ndia have rolled up Australia for 65, with only two of their batsmen scoring in double figures. Yadav was the star, knocking over the first five wickets to fall even before he'd finished bowling five overs himself. This would have been the biggest loss for Australia in a One-Day game, if this was an official match.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

<br>
<br>
<br>





    <div class="">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <center>
                    <h3>News Titles Generation</h3>
                    <p> <b>Model</b>: ProphetNet</p>
                </center>
                <div class="overlay">
                    <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
                </div>

                <h4> Input Text </h4>
                <textarea class="form-control txt_input"
                    id="txt_input">USTC was founded in Beijing by the Chinese Academy of Sciences (CAS) in September 1958. The Director of CAS, Mr. Guo Moruo was appointed the first president of USTC. USTC's founding mission was to develop a high-level science and technology workforce, as deemed critical for development of China's economy, defense, and science and technology education. The establishment was hailed as \"A Major Event in the History of Chinese Education and Science.\" CAS has supported USTC by combining most of its institutes with the departments of the university. USTC is listed in the top 16 national key universities, becoming the youngest national key university.</textarea>
                <h4> Parameters </h4>
                <div class="form-row">
                    <div class="form-group col-md-3 ">
                        <label for="input_model">Model</label>
                        <select id="input_model" class="form-control rounded-pill">
                            <option selected>ProphetNet</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label></label>
                        <button type="button" class="btn btn-primary btn-lg btn-block rounded-pill"
                            id="btn-process">Generate</button>
                    </div>
                </div>

                <h4> Generated News Title </h4>
                <textarea class="form-control txt_summary" id="input_summary" readonly> </textarea>


            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>

</html>