{% extends "layoutsearch.html" %}

{% block  content %}


  <div data-aos="fade-up">
    <h2>search results for '{{ data }}'</h2>
    <center>
      <p>Top 20 results here.</p>
    </center>
  </div>
  <br>
<div class="card-group">
{% set c=0 %}
{% for i in articles[:4] %}
<div class="card border border-primary">
  <img class="card-img-top rounded" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i['title'] }}</h5> 
    <span><b>Published:</b><i>{{i['publishedAt'][:10]}}</i></span>
    <p class="card-text">{{ i['description'][:120] }}... </p>
    <a href="{{i['url']}}" target="_blank" class="btn btn-primary rounded-pill">Read more</a>
  </div>
</div>

{% endfor %}
</div>

<div class="card-group">
{% for i in articles[4:8] %}
<div class="card border border-primary">
  <img class="card-img-top rounded" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i['title'] }}</h5> 
    <span><b>Published:</b><i>{{i['publishedAt'][:10]}}</i></span>
    <p class="card-text">{{ i['description'][:120] }}... </p>
    <a href="{{i['url']}}" target="_blank" class="btn btn-primary rounded-pill">Read more</a>
  </div>
</div>
{% endfor %}
<div>

<div class="card-group">
{% for i in articles[8:12] %}
<div class="card border border-primary">
  <img class="card-img-top rounded" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i['title'] }}</h5> 
    <span><b>Published:</b><i>{{i['publishedAt'][:10]}}</i></span>
    <p class="card-text">{{ i['description'][:120] }}... </p>
    <a href="{{i['url']}}" target="_blank" class="btn btn-primary rounded-pill">Read more</a>
  </div>
</div>
{% endfor %}
<div>

<div class="card-group">
{% for i in articles[12:16] %}
<div class="card border border-primary">
  <img class="card-img-top rounded" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i['title'] }}</h5> 
    <span><b>Published:</b><i>{{i['publishedAt'][:10]}}</i></span>
    <p class="card-text">{{ i['description'][:120] }}... </p>
    <a href="{{i['url']}}" target="_blank" class="btn btn-primary rounded-pill">Read more</a>
  </div>
</div>
{% endfor %}
<div>

<div class="card-group">
{% for i in articles[16:20] %}
<div class="card border border-primary">
  <img class="card-img-top rounded-10" src="{{i['urlToImage']}}" height=175px alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i['title'] }}</h5> 
    <span><b>Published:</b><i>{{i['publishedAt'][:10]}}</i></span>
    <p class="card-text">{{ i['description'][:120] }}... </p>
    <a href="{{i['url']}}" target="_blank" class="btn btn-primary rounded-pill">Read more</a>
  </div>
</div>
{% endfor %}
<div>

{% endblock  %}}